@import './../../global/styles/common.scss';

.like, .likes {
  cursor: pointer;
  margin: $margin-0 $margin-10;
  border-bottom: 1px solid $yellow;
}

.likes {
  color: $yellow;
  border-bottom: 1px solid $white;
}


@media screen and (max-width: 768px) {
  .like, .likes {
    margin: $margin-0 $margin-5;
  }
}