// font-sizes
$font-size-30: 30px;
$font-size-24: 24px;
$font-size-22: 22px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-15: 15px;
$font-size-14: 14px;
$font-size-12: 12px;

// colors
$white: #ffffff;
$red: #ff0000;
$yellow: #ffff00;
$waterloo: #808290;
$mine-shaft: #323232;

// widths
$width-30: 30px;
$width-24: 24px;
$width-20: 20px;

// widths in percent
$width-percent-100: 100%;
$width-percent-70: 70%;
$width-percent-50: 50%;

// heights
$height-400: 400px;
$height-350: 350px;
$height-300: 300px;
$height-100: 100px;
$height-30: 30px;
$height-24: 24px;
$height-20: 20px;

// paddings
$padding-50: 50px;
$padding-25: 25px;
$padding-20: 20px;
$padding-15: 15px;
$padding-10: 10px;
$padding-5: 5px;
$padding-0: 0;

// margins
$margin-50: 50px;
$margin-25: 25px;
$margin-20: 20px;
$margin-15: 15px;
$margin-10: 10px;
$margin-5: 5px;
$margin-0: 0;