// font-sizes
$font-size-30: 30px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-15: 15px;
$font-size-12: 12px;

// colors
$waterloo: #808290;

// widths
$width-30: 30px;
$width-24: 24px;
$width-20: 20px;

// widths in percent
$width-percent-100: 100%;
$width-percent-70: 70%;
$width-percent-50: 50%;

// heights
$height-100: 100px;
$height-30: 30px;
$height-24: 24px;
$height-20: 20px;

// paddings
$padding-50: 50px;
$padding-25: 25px;
$padding-20: 20px;
$padding-15: 15px;
$padding-5: 5px;
$padding-0: 0;