@import './../../global/styles/common.scss';

.wrapper {
  width: $width-percent-70;
  margin: auto;
  padding: $padding-50 $padding-0;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    width: $width-percent-80;
    margin: auto;
    padding: $padding-40 $padding-0;
  }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .wrapper {
    width: $width-percent-90;
    margin: auto;
    padding: $padding-30 $padding-0;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: $width-percent-95;
    margin: auto;
    padding: $padding-20 $padding-0;
  }
}