@import './../../global/styles/common.scss';

.dislike, .dislikes {
  cursor: pointer;
  margin: $margin-0 $margin-10;
  border-bottom: $border-2 solid $yellow;
}

.dislikes {
  color: $yellow;
  border-bottom: $border-2 solid $white;
}

@media screen and (max-width: 768px) {
  .dislike, .dislikes {
    margin: $margin-0 $margin-5;
  }
}