@import './../../global/styles/common.scss';

.userAction {
  border-top: 1px solid $white;
  padding: $padding-10;
  position: absolute;
  width: 95%;
  bottom: $bottom-0;
  font-size: $font-size-16;

  &-container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .userAction {
    padding: $padding-10 $padding-5;
    width: 95%;
    font-size: $font-size-14;
  }
}