@import './../../global/styles/common.scss';

.newsDetail {
  position: relative;
  text-align: justify;
  font-size: $font-size-18;
  padding: $padding-20 $padding-15 $padding-0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .newsDetail {
    font-size: $font-size-15;
    padding: $padding-0 $padding-10;
  }
}