@import './../../global/styles/common.scss';

.footer {
  width: $width-percent-100;
  background-color: $mine-shaft;
  color: $white;

  .container {
    width: $width-percent-70;
    margin: auto;
    padding: $padding-25 $padding-0;
    font-size: $font-size-15;

    .copyright {
      color: $waterloo;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    .container {
      padding: $padding-20 $padding-0;
      font-size: $font-size-12;
      text-align: center;
    }
  }
}