@import './../../global/styles/common.scss';

.newsCard {
  display: inline-block;
  position: relative;
  width: 45%;
  height: $height-400;
  color: $white;
  background-color: $red;
  margin: 2.5%;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

@media screen and (max-width: 768px) {
  .newsCard {
    height: $height-350;
  }
}

@media screen and (max-width: 500px) {
  .newsCard {
    height: $height-300;
    width: 90%;
    margin: 5%;
  }
}