@import './../../global/styles/common.scss';

.newsCard {
  display: inline-block;
  position: relative;
  width: $width-percent-45;
  height: $height-400;
  color: $white;
  margin: $margin-percent-2p5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    width: $width-percent-100;
    height: $height-percent-100;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.newsTitle {
  position: relative;
  text-align: center;
  font-size: $font-size-24;
  padding: $padding-15 $padding-15;
}

.newsDetail {
  position: relative;
  text-align: justify;
  font-size: $font-size-18;
  padding: $padding-20 $padding-15 $padding-0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.detailLink {
  padding: $padding-15;
  position: absolute;
  width: $width-percent-93;
  bottom: $bottom-40;
  font-size: $font-size-16;
  color: $white;
  text-align: right;
}

.userAction {
  border-top: $border-1 solid $white;
  padding: $padding-10;
  position: absolute;
  width: $width-percent-95;
  bottom: $bottom-0;
  font-size: $font-size-16;

  &-container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) {
  .newsTitle {
    font-size: $font-size-22;
    padding: $padding-12 $padding-12;
  }

  .newsDetail {
    font-size: $font-size-16;
    padding: $padding-0 $padding-12;
  }

  .detailLink {
    padding: $padding-10;
    bottom: $bottom-35;
    font-size: $font-size-13;
  }
}

@media screen and (max-width: 768px) {
  .newsCard {
    height: $height-350;
  }

  .newsTitle {
    font-size: $font-size-20;
    padding: $padding-10 $padding-10;
  }

  .newsDetail {
    font-size: $font-size-15;
    padding: $padding-0 $padding-10;
  }

  .detailLink {
    padding: $padding-10;
    font-size: $font-size-12;
  }
  
  .userAction {
    padding: $padding-10 $padding-5;
    width: $width-percent-95;
    font-size: $font-size-14;
  }
}

@media screen and (max-width: 500px) {
  .newsCard {
    height: $height-300;
    width: $width-percent-90;
    margin: $margin-percent-5;
  }

  .newsTitle {
    font-size: $font-size-18;
  }
}