@import './../../global/styles/common.scss';

.newsTitle {
  position: relative;
  text-align: center;
  font-size: $font-size-24;
  padding: $padding-15 $padding-15;
}

@media screen and (max-width: 1024px) {
  .newsTitle {
    font-size: $font-size-22;
    padding: $padding-12 $padding-12;
  }
}

@media screen and (max-width: 768px) {
  .newsTitle {
    font-size: $font-size-20;
    padding: $padding-10 $padding-10;
  }
}

@media screen and (max-width: 500px) {
  .newsTitle {
    font-size: $font-size-18;
  }
}