@import './../../global/styles/common.scss';

.newsTitle {
  position: relative;
  text-align: center;
  font-size: $font-size-24;
  padding: $padding-15 $padding-0;
}

@media screen and (max-width: 768px) {
  .newsTitle {
    font-size: $font-size-22;
    padding: $padding-10 $padding-0;
  }
}

@media screen and (max-width: 500px) {
  .newsTitle {
    font-size: $font-size-18;
  }
}